<!DOCTYPE html>
<html lang="en">
<head th:replace="~{component/head::head}"></head>
<body>

<div th:replace="~{component/header::header}"></div>

<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Holidays</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Holidays</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- Holidays -->
<section class="w3l-timeline-1 py-5">
    <div class="container py-lg-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small">Eazy School</h5>
            <h3 class="title-style">Awesome Holidays</h3>
        </div>
        <div class="row">
            <div class="col-lg-6" th:if="${festival} == true">
                <h5 class="sub-title-timeline"><i class="fas fa-snowman"></i> Festival Holidays</h5>
                <div class="timeline">
                    <div th:each="holiday : ${FESTIVAL}" class="column">
                        <div class="title">
                            <h2 th:text="${holiday.reason}"></h2>
                        </div>
                        <div class="description">
                            <h6 th:text="${holiday.day}" class="fas fa-calendar-alt"><i class="fas fa-calendar-alt"></i></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-lg-0 mt-4" th:if="${federal} == true">
                <h5 class="sub-title-timeline"><i class="fas fa-flag-usa"></i> Federal Holidays </h5>
                <div class="timeline">
                    <div th:each="holiday : ${FEDERAL}" class="column">
                        <div class="title">
                            <h2 th:text="${holiday.reason}"></h2>
                        </div>
                        <div class="description">
                            <h6 th:text="${holiday.day}" class="fas fa-calendar-alt"><i class="fas fa-calendar-alt"></i></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{component/footer::footer}"></div>
<div th:replace="~{component/scripts::scripts}"></div>

</body>
</html>