<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{component/head::head}"></head>

<body>

<!-- header -->
<div th:replace="~{component/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">LogIn</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>LogIn</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- login block -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">LogIn</h3>
        </div>
        <div class="row login-block">
            <div class="col-md-6 login-center">
                <form th:action="@{/login}" method="post" class="signin-form">
                    <div class="col-md-8 login-center input-grids">
                        <li class="alert alert-danger" role="alert" th:if="${!#strings.isEmpty(errorMessage)}"
                            th:text="${errorMessage}" />
                        <li class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(successMessage)}" th:text="${successMessage}"></li>
                        <input type="text" name="username" id="username" placeholder="Username"
                               class="login-input" />
                        <input type="password" name="password" id="password" placeholder="Password"
                               class="login-input" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    </div>
                    <div class="col-md-8 login-center text-start">
                        <button class="btn btn-style btn-style-3 text-left">Log In</button>
                        <a th:href="@{/public/register}" class="new-user text-right">New User ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //login block -->

<!-- footer block -->
<div th:replace="~{component/footer :: footer}">...</div>
<!-- //footer block -->

<div th:replace="~{component/scripts::scripts}" ></div>
</body>

</html>